[Unit]
Description=Jetty
After=multi-user.target mongod.service
Wants=mongod.service

[Service]
Type=simple
User=jetty
Group=jetty
Environment='JAVA_OPTIONS=-Xmx3G -Djetty.logging.dir={{ jetty_base }}/logs -Djetty.home={{ jetty_home }} -Djetty.base={{ jetty_base }} -Djava.io.tmpdir=/tmp'
Environment='JETTY_ARGS=jetty.state={{ jetty_base }}/jetty.state jetty-logging.xml jetty-started.xml'
ExecStart=/usr/bin/java $JAVA_OPTIONS -jar {{ jetty_home }}/start.jar $JETTY_ARGS
ExecStop=/bin/kill ${MAINPID}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
