[Unit]
Description=Jetty
After=multi-user.target mongod.service
Wants=mongod.service

[Service]
Type=simple
User=jetty
Group=jetty
ExecStart=/usr/bin/java -jar {{ jetty_home }}/start.jar jetty.home={{ jetty_home }} jetty.base={{ jetty_base }} jetty.http.port={{ jetty_http_port }}
ExecStop=/bin/kill ${MAINPID}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target